<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center my-5">
          <h1 class="font-weight-bold text-error">
            404
          </h1>
          <h3 class="">Sorry, Page Not Found</h3>
            <div class="mt-5 text-center">
              <router-link
                class="btn btn-primary"
                to="/"
              >Home</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
export default {};
</script>
