<template>
  <div class="container">
    <div class="col-12">
      <h1>Cart</h1>
    </div>
    <div class="col-12">
      <b-card v-if="productProps && Object.keys(productProps).length > 0">
        <b-list-group class="mb-3">
          <template  v-for="(value, name) in productProps">
            <b-list-group-item class="list-item flex-row" v-if="value" :key="`${name}_result`">
              <span><strong>{{name}}</strong>: {{value}}</span>
            </b-list-group-item>
          </template>
        </b-list-group>
      </b-card>
    </div>
  </div>
</template>

<script>
  import { BListGroup, BListGroupItem,BCard } from "bootstrap-vue";
  export default {
    name: "cart",
    components: {
      BListGroup,
      BListGroupItem,
      BCard
    },
    computed: {
      productProps() {
        return this.$store.state.productProps
      },
    } 
  }
</script>

<style lang="sass" scoped>

</style>