<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Please Chose the product</h1>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "home"  
  }
</script>
