<template>
  <div class="product">
      <div class="container-fluid">
        <div class="row" v-if="slug && selectedCategory">
          <div class="col-12">
            <h1>{{selectedCategory.titlePlural}}</h1>
          </div>
          <div class="col-4">
            <b-list-group>
              <b-list-group-item class="list-item" v-for="prop in selectedCategory.properties" :key="prop.slug">
                <label :for="prop.slug">{{prop.title ? prop.title : formatSlug(prop.slug)}}</label>
                <b-form-select :id="prop.slug" @change="onPropChange(prop.slug, $event)" size="md" class="w-100">
                  <b-form-select-option :value="null">Please select an option</b-form-select-option>
                  <b-form-select-option v-for="option in prop.options" :key="option.slug" :value="option.slug">{{option.description ? option.description : option.name ? option.name : formatSlug(option.slug)}}</b-form-select-option>
                </b-form-select>
                <div class="w-100 mt-2" v-if="prop.slug === 'size' && customSelected">
                  <div calss="list-item mb-3">
                    <label class="slider-label" for="width">Width</label>
                    <div class="slider-container">
                      <span>min: {{customOptions.minWidth}}</span>
                      <b-form-input id="width" class="flex-grow" @input="customSizeChange('width', $event)" type="range" :min="customOptions.minWidth" :max="customOptions.maxWidth"></b-form-input>
                      <span>max: {{customOptions.maxWidth}}</span>
                    </div>
                  </div>
                  <div calss="list-item">
                    <label class="slider-label" for="height">Height</label>
                    <div class="slider-container">
                      <span>min: {{customOptions.minWidth}}</span>
                      <b-form-input id="height" class="flex-grow" @input="customSizeChange('height', $event)" type="range" :min="customOptions.minHeight" :max="customOptions.maxHeight"></b-form-input>
                      <span>max: {{customOptions.maxWidth}}</span>
                    </div>
                  </div>
                </div>
              </b-list-group-item>
            </b-list-group>
          </div>
          <div class="col-8">
            <b-card :title="selectedCategory.titleSingle" v-if="Object.keys(productProps).length > 0">
              <b-list-group class="mb-3">
                <template  v-for="(value, name) in productProps">
                  <b-list-group-item class="list-item flex-row" v-if="value" :key="`${name}_result`">
                     <span><strong>{{name}}</strong>: {{value}}</span>     
                     <span class="validation_message" v-if="isInExcludes(name, value)">this option in excludes</span>         
                  </b-list-group-item>
                </template>
              </b-list-group>
              <b-button v-if="Object.keys(productProps).length > 0" :disabled="validateProps()" variant="success" @click="onAddToCart">Add to Cart</b-button>
            </b-card>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
  import { BListGroup, BListGroupItem, BFormInput, BFormSelect, BFormSelectOption, BCard, BButton } from "bootstrap-vue";
  export default {
    name: "product",
    components: {
      BListGroup,
      BListGroupItem,
      BFormInput,
      BFormSelect,
      BFormSelectOption,
      BCard,
      BButton 
    },
    data () {
      return {
        slug: null,
        productProps: {}
      }
    },
    computed: {
      selectedCategory() {
        return this.$store.state.selectedCategory
      },
      customSelected() {
        return Object.values(this.productProps).some(value => value === 'custom')
      },
      customOptions() {
        return this.selectedCategory.properties.find(prop => prop.slug === 'size').options.find(option => option.slug === 'custom').customSizes
      },
      excludes() {
        const excludes = this.selectedCategory.excludes.flat().reduce((acc, item) => {
          if (!acc[item.property]) {
            acc[item.property] = item.options
            return acc
          }
          acc[item.property] = Array.from(new Set([...acc[item.property], ...item.options]))
          return acc
        }, {})
        return excludes
      }
    },
    created() {
      this.slug = this.$route.params.slug
      this.$store.dispatch('getCategory', this.slug)
    },
    mounted() {
      if (this.selectedCategory) return
      this.$router.push('/404')
    },
    watch: {
      $route(to) {
        this.productProps = {}
        this.slug = to.params.slug
        this.$store.dispatch('getCategory', this.slug)
      }
    },
    methods: {
      onPropChange(propSlug, event) {
        this.$set(this.productProps, propSlug, event)
      },
      formatSlug(slug) {
        if (typeof slug === 'number') {
          return slug
        }
        const splitSlug = slug.split('_').join(' ')
        const capitalizeSlug = splitSlug.charAt(0).toUpperCase() + splitSlug.slice(1)
        return capitalizeSlug
      },
      customSizeChange(option, value) {
        if (!this.productProps.customSize) {
          this.$set(this.productProps, 'customSize', {})
        }
        this.$set(this.productProps.customSize, option, value)
      },
      isInExcludes(name, value) {
        if (!this.excludes[name]) return false
        return this.excludes[name].some(prop => prop == value)
      },
      validateProps() {
        return Object.entries(this.productProps).some(entry => this.isInExcludes(entry[0], entry[1]))
      },
      onAddToCart() {
        this.productProps.title = this.selectedCategory.titlePlural
        this.$store.commit('setProductProps', this.productProps)
        this.$router.push('/cart')
      },
    }
  }
</script>

<style lang="scss" scoped>
label {
  font-weight: 600;
}

.list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.flex-row {
    flex-direction: row;
  }
}

.slider-label {
  display: block;
  width: 100px;
  flex-shrink: 0;
  text-align: left;
}

.slider-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.validation_message {
  color: red;
  margin-left: auto;
}
</style>