<template>
  <div id="app">
    <b-nav >
      <b-nav-item-dropdown
        id="my-nav-dropdown"
        text="Products"
        toggle-class="nav-link-custom"
        right
      >
        <b-dropdown-item to="/product/businesscards">Business Cards</b-dropdown-item>
        <b-dropdown-item to="/product/flyers">Flyers</b-dropdown-item>
        <b-dropdown-item to="/product/posters">Posters</b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item to="/cart">Cart</b-nav-item>
    </b-nav>
    <router-view/>
  </div>
</template>

<script>
import { BNav, BNavItem, BNavItemDropdown, BDropdownItem } from 'bootstrap-vue'
export default {
  name: 'App',
  components: {
    BNav,
    BNavItem,
    BNavItemDropdown,
    BDropdownItem
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}
</style>
